@import "../libs/bourbon/app/assets/stylesheets/bourbon"
$text_light: #fff
$text_dark: #656e74
$main_green: #a2ca28
$main_red: #fd634e

body
	font-family: "OpenSansRegular", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.42857
	-webkit-font-smoothing: antialised
	margin: 0
a
	color: $text_light


h1
	font-size: em(40px)
	text-transform: uppercase
h2
	font-family: OpenSansRegular
	font-size: em(24px)
h4
	font-size: em(15px)
	text-transform: uppercase
h5
	font-family: Montserrat-Regular
	font-size: em(14px)
	text-transform: uppercase
	color: $main_red
//header_begin
header
	position: relative
	overflow: hidden
	background-image: url("../img/header_bg.jpg")
	background-size: cover
	background-repeat: no-repeat
	background-position: center
.navbar
	position: relative
	width: 100%
	
	.logo
		float: left
		padding-top: 45px
		padding-left: 50px
.nav_mnu
	float: right
	text-transform: uppercase
	font-family: Avenir-Demi
	padding-right: 45px
	font-size: em(14px)
	ul
		li
			padding: 46px 22px	
			display: inline-block
			a
				color: $text_light
				&:hover
					text-shadow: 0 0 10px $main_green , 0 0 10px $main_green
.title_header
	width: 30%
	position: absolute
	bottom: 20%
	color: $text_light
	text-align: right
	line-height: 1.05
	h1
		font-weight: 300
		font-family: Avenir-Regular
		>span
			color: $main_green
			margin: 0px 0px 0px -10px
	h4
		font-weight: 300
		font-family: OpenSansBold
		padding-right: 45px
		letter-spacing: 1.1px
		>span
			color: $main_red
.rotate_block
	transform: rotate(-1.8deg)
	height: 80px
	position: absolute
	bottom: -35px
	width: 105%
	background-color: rgba(253,99,78,0.3)
//header_end
//section features begin
.features
	background-color: $main_green
	color: $text_light
	p,a
		font-family: proximanova-regular
		font-size: em(14px)
	p
		min-height: 130px
		line-height: 26px
.row_features
	padding-top: 80px
	padding-bottom: 80px
.features_cont_for_img
	height: 50px
//section features end
//section grid_left_right begin
.grid_left_right
	background-color: $main_green
.row_left_right
	height: 400px	
.small_grid, .big_grid_left_text
	background-color: #fff
	height: 100%
	text-align: center
	z-index: 30
	padding: 0
	h5
		margin-top: 50px
		margin-bottom: 0
	h1
		font-family: OpenSansLight
		color: $main_green
		margin-top: 5px
		font-weight: normal
	p
		color: $text_dark
		font-family: OpenSansRegular
		line-height: 26px
	a	
		color: $main_green
		text-decoration: underline
		font-family: OpenSansRegular
		z-index: 300
.shadow
	width: 100%
	height: 100%
	z-index: -1
	top: 0
	left: 0
	position: absolute

.big_grid,.small_grid,.big_grid_left_text
	&:hover
		.shadow
			transition: all 0.2s ease-out 
			box-shadow: 0 0 70px rgba(0,0,0,0.4) ,inset 0 0 100px rgba(0,0,0,0.4)
.bid_grid_image
	width: 100%
	height: 100%
	z-index: -30
.small_grid_wth_img
	.shadow
		z-index: 20
.big_grid
	height: 100%
	padding: 0
	z-index: 30
	.shadow
		z-index: 20
	.count
		position: absolute
		bottom: 47px
		z-index: 50
	.counter_active
		font-family: OpenSansRegular
		font-size: em(14px)
		color: $main_red
		padding-right: 14px
	.span_counter
		color: $text_light	
	h1
		color: $text_light
		font-family: "OpenSansLight"
		font-size: em(40px)
		font-weight: 400
		text-transform: uppercase
		padding-top: 4%
		padding-left: 7%
		padding-right: 6%
	p
		padding-left: 7%
		font-family: OpenSansRegular
		font-size: em(14px)
		color: $text_light
		padding-right: 6%
		line-height: 26px

.big_green,.small_grid_text_green
	background-color: $main_green
.small_grid_text_green
	h5,	h1,	p 
		color: $text_light
		font-weight: normal
.big_right
	.count
		right: 51px
.big_left
	.count
		left: 51px
//section grid_left_right end
//section grid_random begin
.grid_random
	background-color: $main_red
.row_random_grid
	height: 310px
.small_grid_left_text, .big_grid_left_text
	text-align: left
	padding: 0 40px
	img
		position: absolute
		right: 30px
		top: 48px
.grid_left_span, .grid_right_span
	position: absolute
	top: 63px
	span
		color: $text_light
		font-family: Montserrat-Regular
		font-size: em(14px)
		font-weight: 400
		text-transform: uppercase
	img
		padding-left: 12px
.grid_left_span
	left: 60px
.grid_right_span
	right: 60px
.big_grid_left_text
	.shadow
		z-index: 20
//section grid_random end
